.markdown {
  max-width: 820px;
  overflow: scroll;
}

/* For tablets (768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  .markdown {
    max-width: 400px;
  }
}

/* For large mobile devices (480px and up) */
@media (min-width: 480px) and (max-width: 767px) {
  .markdown {
    max-width: 300px;
  }
}

/* For small mobile devices (less than 480px) */
@media (max-width: 479px) {
  .markdown {
    max-width: 200px;
  }
}
